.dashboard{
    background: rgb(30,30,30);
    background: linear-gradient(45deg, rgba(30,30,30,1) 0%, rgba(62,51,51,1) 52%, rgba(98,62,62,1) 100%);    
    width:100vw;
    height: 100vh;
    margin: 0%;
}
.dashboard span{
    font-style: normal;
    font-size: 7rem;
}
.dashboard h2{
    font-family: 'Playfair Display';
    color: #c0c0c0;
    font-size: 7rem;
    margin: 0% 3vh;
}
.heading{
    display: flex;
}
.heading button{
    margin: 9vh 0vh 9vh 50vh;
    width:  20vh;
}
.cards{
    display: flex;
    width: 100vw;
}
.card{
    padding: 1vh 3vh;
    margin:  5vh 0 0 3vh;
    background: rgba(192, 192, 192, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    color: #c0c0c0;
    font-family: 'Nunito';
}
.cardeets{
    width:37vh;
    height: 37vh;
}
.card h3{
    font-family:'Montserrat';
    font-size: 3rem;
    margin-top: 5vh;
}
.cardeets p{
    margin-bottom: 4vh;
}
.appointments{
    width: 100vh;
    height: 37vh;
}
