body{
    background-color: #1e1e1e;
}
.dashboard{
    background-color: #1e1e1e;
    background-size: cover;
    background-repeat: no-repeat;   
    width:100vw;
    margin: 0%;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100vh;
}
.dashboard span{
    font-style: normal;
    font-size: 7rem;
}
.dashboard h2{
    font-family: 'Playfair Display';
    color: #c0c0c0;
    font-size: 6.5rem;
    margin: 0% 0 0 3vh;
    width: 80vw;
}
.heading{
    display: flex;
}
.heading button{
    margin: 9vh 0vh 9vh 10vw;
    width: 20vh;
}
.cards{
    display: flex;
    width: 98.5vw;
}
.card{
    padding: 1vh 3vh;
    margin:  5vh 0 0 3vh;
    background: rgba(192, 192, 192, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    color: #c0c0c0;
    font-family: 'Nunito';
}
.cardeets{
    width:57vh;
    height: 70vh;
}
.emp{
    height: 50vh;
}
.card h3{
    font-family:'Montserrat';
    font-size: 3rem;
    margin-top: 5vh;
}
.card p{
    margin-bottom: 4vh;
}
.appointments{
    width: 94vw;
    height: 55vh;
    margin-bottom: 4vh;
}
.booking{
    width:35vw;
    height:70vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dashboard-error{
    background-color: #1e1e1e;
    color: #c0c0c0;
    margin: 0%;
    width: 100vw;
    height: 80vh;
    font-family: 'Nunito';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10vh 0;
}
.mecx{
    font-family: 'Baskervville';
    font-size: 1.5rem;
}
.dashboard-error h2{
    margin: 0%;
    font-size: 10rem;
}
.dashboard-error img{
    width: 15rem;
    margin-bottom: 2vh;
    justify-self: center;
    transform: translateX(3vw);
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-error{
    height: 80vh;
}
.dashboard-error p{
    margin-bottom: 3vh;
}
.table{
    height: 35vh;
    overflow-y: scroll;
}
table{
    text-align: center;
    border-collapse: collapse;
}
.table-user{
    width: 92vw;
}
.table-emp{
    width: 70vw;
}
td{
    height: 10vh;
}
thead{
    background-color: #1e1e1e;
}
tbody{
    background-color: #04533f;
}
tbody td{
    border-bottom: 1px solid #1e1e1e;
}
.booking input{
    background-color: #c0c0c0;
}
.booking textarea{
    background-color: #c0c0c0;
    resize: none;
    width: 25vw;
    border: 1px solid #1e1e1e;
    padding: 1rem;
    font-family: 'Nunito';
    font-size: 0.8rem;
}
.joblist{
    width:94vw;
}
.table-joblist{
    width: 94vw;
    margin-bottom:5vh;
}
.table-joblist thead{
    height: 5vh;
}
.table-joblist tbody{
    height: 35vh;
}
.table-joblist tbody tr{
    height: 2vh;
}
.table-joblist p{
    margin-bottom: 1%;
}
.joblist-button{
    width: 7vw;
    height: 4vh;
    margin: 0vh 0.5vw;
}
.accept{
    width:10vw;
}
.currjob{
    min-height: 50vh;
    width:94vw;
    margin-bottom: 4vh;
}
.employees, .users{
    width:94vw;
    height: 85vh;
}
.table-users{
    height: 63vh;
    overflow-y: scroll;
}
.table-employees{
    width: 92vw;
}
.emer{
    text-align: center;
    width: 94vw;
}
.emer-button{
    width: 15vw;
    margin: 5vh 3vw;
}