.dashboard{
    background-color: #1e1e1e;
    background-size: cover;
    background-repeat: no-repeat;   
    width:100vw;
    margin: 0%;
    overflow-y: scroll;
    min-height: 100vh;
}
.dashboard span{
    font-style: normal;
    font-size: 7rem;
}
.dashboard h2{
    font-family: 'Playfair Display';
    color: #c0c0c0;
    font-size: 6.5rem;
    margin: 0% 3vh;
}
.heading{
    display: flex;
}
.heading button{
    margin: 9vh 0vh 9vh 50vw;
    width: 20vh;
}
.cards{
    display: flex;
    width: 100vw;
}
.card{
    padding: 1vh 3vh;
    margin:  5vh 0 0 3vh;
    background: rgba(192, 192, 192, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    color: #c0c0c0;
    font-family: 'Nunito';
}
.cardeets{
    width:47vh;
    height: 70vh;
}
.card h3{
    font-family:'Montserrat';
    font-size: 3rem;
    margin-top: 5vh;
}
.cardeets p{
    margin-bottom: 4vh;
}
.appointments{
    width: 94vw;
    height: 50vh;
}
.booking{
    width:65vw;
    height:70vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dashboard-error{
    background-color: #1e1e1e;
    color: #c0c0c0;
    margin: 0%;
    width: 100vw;
    height: 80vh;
    font-family: 'Nunito';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10vh 0;
}
.mecx{
    font-family: 'Baskervville';
    font-size: 1.5rem;
}
.dashboard-error h2{
    margin: 0%;
    font-size: 10rem;
}
.dashboard-error img{
    width: 15rem;
    margin-bottom: 2vh;
    justify-self: center;
    transform: translateX(3vw);
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-error{
    height: 80vh;
}
.dashboard-error p{
    margin-bottom: 3vh;
}
.table{
    height: 30vh;
    overflow: scroll;
}
table{
    border-collapse: collapse;
    width: 92vw;
    text-align: center;
}
td{
    height: 10vh;
    border: 1px solid white;
    border-collapse: collapse;
}
.booking input{
    background-color: #c0c0c0;
}
.booking textarea{
    background-color: #c0c0c0;
    resize: none;
    width: 25vw;
    border: 1px solid #1e1e1e;
    padding: 1rem;
    font-family: 'Nunito';
    font-size: 0.8rem;
}